<% if (comments.length) { %>
<% for (let comment of comments) { %>

<div class="card-body py-1">
    <p class="my-1 text-muted">&mdash;&nbsp;<%= comment.author.username %></p>

    <p class="card-text my-2 ms-3">&nbsp;<%= comment.content %></p>

    <% if (currentUser && currentUser.equals(comment.author._id)) { %>
        <div class="d-flex align-items-center ms-3">&nbsp;
            <a href="/comment/<%= comment._id %>/edit" class="link-secondary text-decoration-none">Edit</a>
    
            <form action="/comment/<%= comment._id %>?_method=DELETE" method="post" class="p-0">
                <button type="submit" class="btn btn-link link-secondary text-decoration-none">Delete</button>
            </form>
        </div>
    <% } %>
</div>


<% } %>
<% } else { %>
<p class="lead my-4 text-center text-muted">No comments yet...</p>
<% } %>
 
