<% if (comments !== null) { %>
<% for (let comment of comments) { %>

<div class="card-body py-1" id="user-comment">
    <p class="my-1 text-muted">&mdash;<%= comment.author %></p>

    <p class="card-text my-2 ms-3"><%= comment.comment %></p>

    <div class="d-flex align-items-center ms-3">
        <!--? REPLY -->
        <button class="btn btn-link text-secondary text-decoration-none ps-0" data-bs-toggle="modal"
            data-bs-target="#comment">
            <i class="bi bi-chat-square me-lg-1"></i>
            Reply
        </button>

        <!--? EDIT -->
        <a href="#" class="link-secondary text-decoration-none">Edit</a>

        <!--? DELETE -->
        <form class="p-0">
            <button type="submit" class="btn btn-link link-secondary text-decoration-none">Delete</button>
        </form>
    </div>
</div>
<% } %>
<% } else { %>
<p class="lead my-4 text-center text-muted">No comments yet...</p>
<% } %>