<nav class="nav navbar navbar-expand-lg navbar-dark p-3" style="background-color: #252525;">
    <div class="container">
        <a href="/" class="navbar-brand fs-4">Posts&Comments</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/posts" class="nav-link ms-lg-4">Recent posts</a>
                </li>
                <li class="nav-item">
                    <a href="/posts/create" class="nav-link ms-lg-4">Create new post</a>
                </li>
                <!-- Auth -->
                <% if (!currentUser) { %>
                    <li class="nav-item ps-5">
                        <a href="/login" class="nav-link ms-lg-4">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link ms-lg-4">Sign Up</a>
                    </li>
                <% } else { %>
                    <li class="nav-item ps-5">
                        <a href="/logout" class="nav-link ms-lg-4">Logout</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>