<% layout('layouts/boilerplate') -%>



<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 alert alert-danger text-center mt-5" role="alert">
            <h1>Page Not Found</h1>
            <hr>
            <p><%= err %></p>
        </div>
    </div>
</div>