<div class="modal fade" id="postReply" tabindex="-1" aria-labelledby="postReplyLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postReplyLabel">Reply to post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">Enter your comment in this input field</p>

                <!--? Reply To Post -->
                <form class="needs-validation" action="/posts/<%= post._id %>" method="post" novalidate>
                    <div class="mb-3">
                        <label for="content" class="col-form-label">Comment:</label>
                        <textarea class="form-control" name="content" id="content" cols="30" rows="10"
                            required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a comment in the textarea.
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>