<% layout('layouts/boilerplate') -%>

    <section class="p-lg-5">
        <h1 class="text-center">Create new post</h1>
        <p class="lead text-center">Fill out this form and your post will appear in the feed!</p>
        <div class="container">
            <form class="needs-validation" action="/posts" method="POST"
                novalidate>

                <div class="custom-form-center custom-form-sizing mb-3">
                    <label for="author" class="col-form-label">Your name:</label>
                    <input type="text" id="author" name="author" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a name in the input.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="title" class="col-form-label">Title:</label>
                    <input type="text" id="title" name="title" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a title in the input.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="text" class="col-form-label">Text:</label>
                    <textarea class="form-control" name="text" id="text" cols="30" rows="10" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a message in the textarea.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </div>
    </section>

