<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>

<body>
    <h1>Edit Page!</h1>

    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <label for="author">Username: </label><br>
        <input type="text" name="author" id="author" value="<%= post.author %>"><br><br>

        <label for="title">Title: </label><br>
        <input type="text" name="title" id="title" value="<%= post.title %>"><br><br>

        <label for="text">Text: </label><br>
        <textarea name="text" id="text" cols="30" rows="5"><%=post.text%></textarea><br>
        <button>Submit</button>
    </form>

    <br>
    <hr>
    <a href="/posts">Back</a>
</body>

</html>