<% layout('layouts/boilerplate') -%>

<h1>Create New Post</h1>

<form action="/posts" method="POST">
    <label for="author">Username: </label><br>
    <input type="text" name="author" id="author"><br><br>

    <label for="title">Title: </label><br>
    <input type="text" name="title" id="title"><br><br>

    <label for="text">Text: </label><br>
    <textarea name="text" id="text" cols="30" rows="5"></textarea><br>
    <button>Submit</button>
</form>

<br>
<hr>
<a href="/posts">Back</a>