<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <h3>Post of <%= post.author %></h3>
    <h2><%= post.title %></h2>
    <h4><%= post.text %></h4>
    <hr>
    <a href="/posts">Back</a>
</body>
</html>